.container {
  height: 100vh;
}

.box {
  width: 20%;
  height: 30%;
  background-color: purple;
  position: relative;
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  width: 50%;
  height: 100%;
}
