/*---------------------Global--------------------*/
.first-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: var(--Primary-Color);
  /* overflow: auto; */
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--Full-height);
  width: var(--Full-width);
  object-fit: cover;
  z-index: -1;
}
/*--------------Header----------------------*/
.header-container {
  height: 17%;
  width: var(--Full-width);
}
/* ----------------- Dark bar ------------------*/
.aboveAll-bar {
  width: var(--Full-width);
  height: 5.2rem;
  z-index: 2;
  box-shadow: 0.1rem 5rem 9rem 0.1rem rgb(0, 0, 0);
}
.left-part {
  background-image: linear-gradient(
    10deg,
    black 0%,
    #26345a 35%,
    #26345a 65%,
    #26345a 100%
  );
  height: var(--Full-height);
  flex: 1;
}
.middle-part {
  flex: 2;
  background-image: linear-gradient(
    170deg,
    #26345a 0%,
    #26345a 35%,
    black 70%,
    black 100%
  );
  gap: 3rem;
}
.middle-part span {
  font-size: 1.7rem;
  font-weight: var(--Primary-font-bolding);
}
.middle-part p {
  font-size: var(--Primary-font-size);
}
.middle-part a {
  color: var(--Primary-Color);
  font-size: var(--Primary-font-size);
  border-bottom: 0.1rem solid white;
}
.right-part {
  background-color: var(--Secondary-color);
  flex: 1;
}
/*-------------------------- Nav-bar ---------------------*/
.nav-bar {
  height: 5.6rem;
  width: var(--Full-width);
}
.logo {
  width: 12rem;
  height: 2.4rem;
  fill: var(--Primary-Color);
  flex: 1;
  text-align: center;
}
.nav-menu {
  flex: 9;
}
.nav-menu-links {
  height: var(--Full-height);
  width: var(--Full-width);
  font-size: var(--Nav-links-font-size);
  font-weight: var(--Primary-font-bolding);
}
.nav-menu-links li {
  width: 9rem;
  height: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  border-radius: 0.5rem;
}
.nav-menu-links li:hover {
  background-color: #8d8a8a6f;
  cursor: pointer;
  color: rgb(20, 20, 20);
  font-weight: var(--Nav-links-font-weight);
}
.nav-icons {
  height: var(--Full-height);
  flex: 1;
  gap: 1rem;
  color: var(--Icons-color);
}
/*---------------------------main ------------------------*/
.main-container {
  width: var(--Full-width);
  height: 83%;
}
/*-------------------------Main - Header-----------------------*/
.main-header {
  width: var(--Full-width);
  height: 50%;
  line-height: 4rem;
}
.main-header span {
  font-size: 2.3rem;
}
.main-header h1 {
  font-size: 4rem;
  font-weight: var(--Primary-font-bolding);
}
.main-header p {
  font-size: var(--Secondary-font-size);
  font-weight: var(--Primary-font-bolding);
}
/*----------------- Main - Footer----------------------*/
.main-footer {
  width: var(--Full-width);
  height: 50%;
}
.footer-container {
  height: 40%;
  width: 24%;
  gap: 1rem;
}
.car-stats {
  height: 40%;
  width: 75%;
  gap: 6.2rem;
}
.demo-order-btns {
  height: 35%;
  width: 90%;
  gap: 2.2rem;
  font-size: var(--Primary-font-size);
  font-weight: var(--Nav-links-font-weight);
}
/*-----------------------Bottom -section -------------------------------------*/
.second-page {
  background-image: url(../images/Model-3-Exterior-Desktop-NA.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  box-shadow: 0.1rem -8rem 130rem 0.1rem rgb(0, 0, 0);
}
