/*---------------- Flexing -----------------------------*/
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/*------------------------------ CAR STATS - CARD ----------------------*/
.stats-card {
  width: var(--Card-Width);
  height: var(--card-Height);
  align-items: center;
  text-align: var(--Centering-text);
}
.stats-card h1 {
  font-size: 2.4rem;
  font-weight: 600;
}
.stats-card h1 span {
  font-size: 2rem;
}
.stats-card p {
  font-size: 1.2rem;
  text-align: var(--Centering-text);
}
/* ------------------------------ BUTTONS --------------------------------*/
.btn {
  height: var(--Button-Height);
  width: var(--Button-Width);
  border: var(--Button-Border-Color) solid 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--Button-Border-Radius);
  cursor: var(--Pointer-cursor);
}
.btn-light {
  color: var(--Secondary-color);
  background-color: var(--Primary-Color);
}
.demoDrive:hover {
  animation: btn-light-hover var(--Button-Hover-Animation-Duration) forwards
    ease-out;
}
@keyframes btn-light-hover {
  from {
    color: var(--Button-light-hover-Color);
    background-color: transparent;
  }
  to {
    color: var(--Button-dark-hover-Color);
    background-color: var(--Primary-Color);
  }
}
.customOrder:hover {
  animation: btn-dark-hover var(--Button-Hover-Animation-Duration) forwards
    ease-out;
}
@keyframes btn-dark-hover {
  from {
    border-color: var(--Button-Border-Color);
    background-color: var(--Button-light-hover-Color);
  }
  to {
    background-color: rgb(193, 190, 190);
    border-color: rgb(193, 190, 190);
  }
}
/*---------------- SVG ---------------------------*/
.svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--Svg-primary-color);
}
.svg:hover {
  background-color: var(--Nav-svg-hover-color);
  border-radius: 0.5rem;
  animation: svg-hovering 1s 1;
}
@keyframes svg-hovering {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--Nav-svg-hover-color);
  }
}
.animating-svg {
  animation: pulsing-chat-box-svg 3s infinite ease alternate;
}
@keyframes pulsing-chat-box-svg {
  0% {
    fill: var(--Chat-box-dark-color);
  }
  20% {
    fill: var(--Chat-box-light-color);
  }
  40% {
    fill: var(--Chat-box-light-color);
  }
  60% {
    fill: var(--Chat-box-light-color);
  }
  80% {
    fill: var(--Chat-box-dark-color);
  }
  100% {
    fill: var(--Chat-box-light-color);
  }
}
