/*-------------  FLEX-BOX ---------------------------*/
.flex {
  display: flex;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-end-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/*------------------------------------------------------------*/
.bolding {
  font-weight: 700;
}

.languages li {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    height: 80%;
    transition: background-color 1s ease ;
}

.languages li:hover{
     background-color: #c9c7c7a2;
    cursor: pointer;
}

.btn {
  background-color: #567b95;
  color: white;
  border: none;
  height: 30%;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  padding: 0.8rem 1.2rem;
  transition: background-color 0.5s ease ;
  cursor: pointer;
}

.btn:hover{
    background-color: #0b69ac;
}

.nav-link {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-link:hover::before {
  content: "";
  position: absolute;
  bottom: 16px;
  left: -1px;
  width: 100%;
  border-bottom: 3px solid black;
}

.nav-link::after {
  content: url(./images/svgexport-8.svg);
  position: absolute;
  right: -12px;
}

.article-info {
  display: flex;
  flex-direction: column;
}
.article-info h1 a{
  font-size: 2.2rem;
  line-height: 2.7rem;
  font-family: "NYT cheltenham", sans-serif;
}
.article-info p a {
  font-family: "NYT imperial", sans-serif;
  font-size: 1.4rem;
  color: rgb(143, 140, 140);
}
