/*-------------  FLEX-BOX ---------------------------*/
.flex{
    display: flex;
}

.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-end-end{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}



/*------------------------------------------------------------*/
.bolding{
    font-weight: 700;
}

.btn {
    background-color: #567B95;
    color: white;
    border: none;
    height: 26%;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    padding: 0.8rem 1.2rem ;
}