.hero-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
}

 .hero-container h1 {
  font-size: 3rem;
}

.showcase-container{
  display: flex;
  gap: 5rem;
  width: 90%;
  height: 80%;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 45%;
  overflow: scroll;
  gap: 1rem;
}

.card {
  width: 100%;
  font-size: 1.6rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.541);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}