.navBar {
  height: 10vh;
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.nav-links {
  list-style-type: none;
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 80%;
  width: 8%;
}

.nav-links li::before,
.nav-links li::after {
  content: "";
  position: absolute;
  width: 0;
  transition: width 1s ease, opacity 1s ease;
  opacity: 0;
}

.nav-links li::before {
  border-bottom: 2px solid black;
  bottom: 0;
  right: 0;
}

.nav-links li::after {
  border-top: 2px solid black;
  top: 0;
  left: 0;
}

.nav-links li:hover::before,
.nav-links li:hover::after {
  width: 100%;
  opacity: 1;
}
