@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/Amazon-Ember-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/AmazonEmber_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/AmazonEmber_BdIt.ttf") format("truetype");
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/AmazonEmber_He.ttf") format("truetype");
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/AmazonEmber_HeIt.ttf") format("truetype");
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/AmazonEmber_Lt.ttf") format("truetype");
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/AmazonEmber_LtIt.ttf") format("truetype");
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/AmazonEmber_Rg.ttf") format("truetype");
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/AmazonEmber_RgIt.ttf") format("truetype");
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/AmazonEmber_Th.ttf") format("truetype");
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/AmazonEmber_ThIt.ttf") format("truetype");
}
