body {
  height: 100vh;
}

/*------------------- HEADER ----------------------*/
.header {
  height: 25.15%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  /* overflow: hidden; */
}
/* --- User-Bar ---*/
.user-bar {
  height: 35%;
  background-color: rgb(19, 25, 33);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  width: 7.3%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo img {
  width: 87.5%;
  height: 48%;
}
.shipment {
  width: 5.2%;
  height: 100%;
  display: flex;
}
.location-icon {
  height: 100%;
  padding-top: 2.8rem;
  padding-right: 0.2rem;
}
.search-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 58.6%;
}
.search-box {
  height: 65%;
  width: 100%;
  border-radius: 0.4rem;
  display: flex;
  overflow: hidden;
}
.search-in-box {
  width: 5.65%;
  height: 100%;
  background-color: var(--dropDown-btns-background);
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1rem;
  position: relative;
  color: rgb(110, 110, 110);
  border-right: var(--primary-border);
}
.search-form {
  display: flex;
  height: 100%;
  width: 95%;
  position: relative;
}
.search-in-box::after {
  position: absolute;
  content: url(../svgs/dropDown-arrow.svg);
  width: 0.7rem;
  height: 0.7rem;
  right: 0.5rem;
}
.search-input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 1.5rem;
  font-size: 1.6rem;
}
.search-btn {
  height: 100%;
  width: 5.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faa940;
  border: none;
  position: absolute;
  right: 0;
  opacity: 0.8;
}
.search-btn:hover {
  opacity: 1;
}
.search-btn img {
  width: 60%;
  height: 60%;
}
.language-box {
  width: 4.29%;
  height: 65%;
  align-items: center;
  padding-top: 1.5rem;
  position: relative;
}
.language-box::after {
  position: absolute;
  content: url(../svgs/dropDown-arrow-light.svg);
  width: 0.7rem;
  height: 0.7rem;
  right: 20%;
  top: 50%;
}
.language-box::before {
  position: absolute;
  content: url(../svgs/united-states-flag-icon.svg);
  width: 2.1rem;
  left: 0rem;
}
.accounts {
  position: relative;
  width: 8.6%;
  height: 100%;
}
.accounts::after {
  position: absolute;
  content: url(../svgs/dropDown-arrow-light.svg);
  width: 0.7rem;
  height: 0.7rem;
  right: 0;
  top: 50%;
}
.cart-box {
  display: flex;
  height: 100%;
  align-items: center;
}
.cart-box h2 {
  font-weight: bold;
  font-size: var(--primary-header-font-size);
  color: white;
  padding-top: 1.5rem;
}
/* --- Nav-Bar ---*/
.nav-bar {
  height: 22%;
  background-color: #232f3e;
}
.nav-links {
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 1.8rem;
  gap: 2rem;
}
.menu-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.3rem;
}
/*---------NOTE-BAR---------*/
.note-bar {
  height: 14.5%;
  background-color: #d8f7eb;
  font-weight: 700;
  color: var(--secondary-header-font-color);
  font-size: var(--primary-header-font-size);
  padding-left: 1.8rem;
  padding-top: 0.6rem;
}

/*------------COMMERCIAL-BAR--------------*/
.commercial-bar {
  height: 28.5%;
  border-top: var(--primary-border);
  border-bottom: var(--primary-border);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}
.commercial-logo {
  background-image: url(../images/commercial-logo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
  width: 8%;
}
.commercial-text {
  color: var(--secondary-header-font-color);
  font-size: 1.2rem;
  font-weight: bold;
}
.commercial-rating-box {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.price {
  font-size: 2.2rem;
  color: rgb(153, 4, 4);
}
.price > p > span:first-child {
  font-weight: 700;
}
.previous-price {
  font-size: 1.6rem;
  color: var(--secondary-header-font-color);
  text-decoration: line-through;
}
/*---------------------------------------------*/
/*----------------MAIN-----------------------------*/
.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(14, 1fr);
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}
.item-img-container {
  grid-area: item-image;
  border: 1px solid black;
  grid-row: span 14;
  grid-column: span 3;
}
.item-content-container {
  grid-area: item-content;
  border: 1px solid black;
  grid-row: span 14;
  grid-column: span 4;
}
