body {
  height: 100vh;
}

/*------------------- HEADER ----------------------*/
.header {
  height: 25.15%;
  display: flex;
  flex-direction: column;
}
/* --- User-Bar ---*/
.user-bar {
  height: 35%;
  background-color: rgb(19, 25, 33);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  width: 11rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo img {
  width: 9.7rem;
  height: 3rem;
}
.shipment {
  width: 8rem;
  height: 100%;
  display: flex;
}
.location-icon{
  height: 100%;
  padding-top: 2.8rem;
  padding-right: 0.2rem;
}
.search-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 89rem;
}
.search-box {
  height: 4rem;
  width: 100%;
  border-radius: 0.4rem;
  display: flex;
  overflow: hidden;
}
.search-in-box {
  width: 5rem;
  height: 100%;
  background-color: rgb(199, 196, 196);
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1rem;
  position: relative;
  color: rgb(110, 110, 110);
}
.search-form {
  display: flex;
  height: 100%;
  width: 84rem;
  background-color: white;
  position: relative;
}
.search-in-box::after {
  position: absolute;
  content: url(../svgs/dropDown-arrow.svg);
  width: 0.7rem;
  height: 0.7rem;
  right: 0.5rem;
}
.search-input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 1.5rem;
  font-size: 1.6rem;
}
.search-btn {
  height: 100%;
  width: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faa940;
  border: none;
  position: absolute;
  right: 0;
  opacity: 0.8;
}
.search-btn:hover{
  opacity: 1;
}
.search-btn img {
  width: 60%;
  height: 60%;
}
.country {
  width: 6.5rem;
  align-items: center;
  padding-top: 1.5rem;
  position: relative;
}
.country::after {
  position: absolute;
  content: url(../svgs/dropDown-arrow-light.svg);
  width: 0.7rem;
  height: 0.7rem;
  right: 20%;
  top: 50%;
}
.country::before {
  position: absolute;
  content: url(../svgs/united-states-flag-icon.svg);
  width: 2.1rem;
  left: 0rem;
}
.accounts{
  position: relative;
  width: 13rem;
}
.accounts::after{
position: absolute;
  content: url(../svgs/dropDown-arrow-light.svg);
  width: 0.7rem;
  height: 0.7rem;
  right: 0;
  top: 50%;
}
.cart-box{
  display: flex;
  height: 100%;
  align-items: center;
}
.cart-box h2{
   font-weight: bold;
  font-size: 1.4rem;
  color: white;
  padding-top: 1.5rem;
}
/* --- Nav-Bar ---*/
.nav-bar {
  height: 22%;
  background-color: #232F3E;
}
.nav-links{
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 1.8rem;
  gap: 2rem;
}
.menu-icon{
  width: 2rem;
  height: 2rem;
  margin-right: 0.3rem;
}
/*---------NOTE-BAR---------*/
.note-bar {
  height: 14.5%;
  background-color: #D8F7EB;
  font-weight: 700;
  color: black;
  font-size: 1.4rem;
  padding-left: 1.8rem;
  padding-top: 0.6rem;
}

/*--------------------------*/
.commercial-bar {
  height: 28.5%;
  border-top: 1px solid rgb(210, 212, 216);
  border-bottom: 1px solid rgb(210, 212, 216);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}
.commercial-logo{
  background-image: url(../images/commercial-logo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
  width: 8%;
}
.commercial-text{
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}
.commercial-rating-box{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.price{
  font-size: 2.2rem;
  color: rgb(153, 4, 4);
}
.price > p > span:first-child {
  font-weight: 700;
}
.previous-price{
  font-size: 1.6rem;
  color: black;
  text-decoration: line-through;
}