body {
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif ;
}
article {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.greeting-card {
  width: 20%;
  height: 40%;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 1px 15px 5px black;
  padding:  0 60px 0 60px ;
}

.greeting-card header {
    width: 100%;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}
.greeting-card p {
    width: 100%;
 text-align: center;
  font-size: 100%;
}
.greeting-card i {
    width: 100%;
  font-size: 250%;
  text-align: center;
}
